.venv/
.vscode/
**/__pycache__/
*.pyc
venv/

# Ignoruj wszystko w katalogu
*

# Odblokuj folder .github oraz jego zawartość:
!.github/
!.github/workflows/
!.github/workflows/run_monitor.yml

# Wyklucz z ignorowania tylko te pliki/foldery: 
!.gitignore

!models/
!models/stock_analysis.py

#monitorowanie zakupionych pozycji
!monitor.py
!portfolios/
!portfolios/positions.json
!requirements.txt

#raport
!reports/
!reports/pdf_generator.py

#scoring
!scoring/
!scoring/quality_score.py
!scoring/trend.py
!scoring/analyst_sentiment.py
!scoring/fundamental_score.py

#entry
!signals/
!signals/entry_score.py
!signals/signal_generator.py