.venv/
.vscode/
**/__pycache__/
*.pyc
venv/

# Ignoruj wszystko w katalogu
*

# Odblokuj folder .github oraz jego zawartość:
!.github/
!.github/workflows/
!.github/workflows/run_monitor.yml

# Wyklucz z ignorowania tylko te pliki/foldery: 
!.gitignore
!monitor.py
!portfolios/
!portfolios/positions.json