beautifulsoup4 
certifi 
cffi 
charset-normalizer 
colorama 
contourpy 
curl_cffi 
cycler 
fonttools 
greenlet 
idna 
kiwisolver 
llvmlite 
markdown-it-py 
matplotlib 
mdurl 
mplfinance 
multitasking 
numpy 
packaging 
pandas 
peewee 
pillow 
platformdirs 
protobuf 
pycparser 
Pygments 
pyparsing 
python-dateutil 
pytz 
requests 
rich 
six 
soupsieve 
SQLAlchemy 
tqdm 
typing_extensions 
urllib3 
websockets 
yfinance 
